.Footer{
    color: white;
    min-height: 250px;
    background:black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 80px;
    overflow: hidden;
}

.Socials{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.line1,.line2{
    margin: 10px 10px;
    width: 20%;
    height: 1px;
    background: #8888888b;
}
.textandicons{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-items: center;
}
.Copyright{
    text-align: center;
    color: rgba(255, 255, 255, 0.554);
    font-size: 12px;
    margin-right: 10px;
    margin: 10px 0px;
}
.socialicons{
    display: flex;
}
.iconsocial1,.iconsocial2,.iconsocial3,.iconsocial4{
    margin: 0px 5px;
    height: 25px;
    width: 25px;
    background: rgb(230, 19, 93);
    border-radius: 25px;
}

.FooterItems{
    margin-left: 150px;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.footerlinksitems{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    justify-content: space-between;
}
.subscribe{
    margin-bottom: 40px;
}
.inputbtnemail{
    display: flex;
    align-items: center;
}
.subscribe input[type = 'email']{
    margin-top: 15px;
    outline: none;
    padding: 10px 20px;
    border-radius: 10px;
    background: #2B2E3C;
    border: none;
    color: white;
}
.subscribe input[type = 'submit']{
    border-radius: 10px;
    margin-top: 15px;
    height: 35px;
    width: 80px;
    transform: translateX(-20px);
    border: none;
    cursor: pointer;
}
@media screen and (max-width: 700px) {
    .FooterItems{
        margin-left: 70px;
    }
}