#canvas-conta {
    position: absolute;
    min-width: 1010px;
    height: 120vh;
    transform: translateX(-25%);
    z-index: -1;
    left: 0;
    top: 0;
}

@media screen and (max-width:700px){
    #canvas-conta{
        transform: translateX(-50%);
        height: 100vh;
    }
}