.cardItem{
    background: #F5F5F5;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    margin-left: 10px;
    flex-basis: 20%;
    transition: 0.2s;
}
.cardItem:hover{
    box-shadow: 0px 5px 50px rgba(0, 0, 0, 0.147);
    cursor: pointer;
}

.imgCard{
    min-height:30%;
    max-height: 30%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.imgCard img{
    
    height: 35px;
    width: 30px;
    color: red;
}
.CardHead{
    color: #231F40;
    text-align: center;
    font-family: Urbanist;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px; /* 160% */
    min-height:15%;
    max-height: 15%;
    
}

.CardText{
    text-align: center;
    width: 75%;
    min-height: 55%;
    max-height: 55%;
    color: #6F6B80;
    text-align: center;
    font-family: Urbanist;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26.08px; /* 163% */
    
}
@media (max-width:550px){
    .CardText{
        font-size: 15px;
    }
}