*{
    scroll-behavior: smooth;
}
body, html, #root {
    margin: 0;
    padding: 0;
    height: 100%;
}
body{
    background-color: black;
    color: white;
}
.first-div{
    height: 105%;
}
.second-div{
    height: 105%;
    margin-top: -2.5%;
}

::-webkit-scrollbar {
    display: none;
  }
  